@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --yellow: #edbb20;
}


body {
    font-family: "Raleway", sans-serif !important;
    font-size: 1rem;
    font-weight: 800;

}


.cart{
    border:none;
    padding: 0%;
}



#header{
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.6)),url(../../images/onur-binay-OKjJZNTl004-unsplash.jpg) top/COVER no-repeat;
    height: 100vh;
    
}

.ShopNow{
    border: 2px solid #e8b24a;
}


.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffc107 !important;
}

.navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s ease, transform 0.2s;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
    transform: scale(1.1);
}





.btn{
    background-color: white;
    color: black;

    border-radius: 25px;
    border: 1px solid black
}

.btn:hover{
    background-color: black;
    color: var(--yellow);
}

.navWord:hover{
    color: var(--yellow);
}

.active{
    color: var(--yellow) !important;
}

.text-card{
    background-color: rgba(0, 0, 0, 0.521);
    padding: 10px 5px;
    border-radius: 25px;
   

}

.collection-list{
    justify-content: space-around;
}

.active-filter-btn{
    background-color: black;
    color: white;
}

.collection-img span{
    top:0%;
    right: 0;
}

.phone-card{
    background-color: rgba(0, 0, 0, 0.096);
    padding: 5px 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.phone-card:hover{
    background-color: rgba(0, 0, 0, 0.25);
    color: black;
    transform: scale(1.05);


}


/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--yellow);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*products*/

.text-primary{
    color: var(--yellow) !important;
}

.btn-addToCart{
    background-color: var(--yellow) !important;
    color: black;
    border-color: var(--yellow) !important;
}

tr:hover{
    background-color: rgb(186, 186, 14);
    cursor: pointer;
}


@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }


