:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --yellow: #edbb20;
}


.cart{
    border:none;
    padding: 0%;
}



#header{
    background: url(../../images/onur-binay-OKjJZNTl004-unsplash.jpg) top/COVER no-repeat;
    height: 100vh;
    
}

.btn{
    background-color: white;
    color: black;
    padding: auto;
    border-radius: 25px;
    border: 1px solid black
}

.btn:hover{
    background-color: black;
    color: var(--yellow);
}

.navWord:hover{
    color: var(--yellow);
}

.active{
    color: var(--yellow) !important;
}

.text-card{
    background-color: rgba(0, 0, 0, 0.521);
    padding: 10px 5px;
    border-radius: 25px;
   

}

.collection-list{
    justify-content: space-around;
}

.active-filter-btn{
    background-color: black;
    color: white;
}

.collection-img span{
    top:0%;
    right: 0;
}

.phone-card{
    background-color: rgba(0, 0, 0, 0.096);
    padding: 5px 5px;
    border-radius: 3px;
}

.phone-card:hover{
    background-color: rgba(0, 0, 0, 0.945);
    color: antiquewhite;

}


/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--yellow);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*products*/

.text-primary{
    color: var(--yellow) !important;
}

.btn-addToCart{
    background-color: var(--yellow) !important;
    color: black;
    border-color: var(--yellow) !important;
}

tr:hover{
    background-color: rgb(186, 186, 14);
    cursor: pointer;
}


@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }


